.container {
    min-width: 1000px;
    
    height: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

.title {
    font-family: 'Dancing Script', sans-serif;
    text-align: left;
}

.price {
    font-size: 1.125rem;
    font-weight: 600;
    color: #1f2937;
    text-align: left;
}

.imageWrapper {
    min-width: 400px;
    max-width: 400px;
    overflow: hidden; 
    height: 250px;
}

.image {
    width: auto; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.notFound {
    text-align: center;
    font-weight: bold;
    color: #e53e3e;
}
